.InputQuantity {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  background: var(--color-base-button);
  padding: 8px;
  border-radius: 6px;

  input {
    border: none;
    background: transparent;
    width: 20px;
    display: flex;
    text-align: center;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  svg {
    color: var(--color-purple);
    cursor: pointer;
  }

  span {
    color: var(--color-base-title);
    user-select: none;
  }
}