.InputText {
  width: 100%;
  max-width: 100%;
  display: flex;
  position: relative;

  border-radius: 4px;
  padding: 12px;
  background: var(--color-base-input);
  border: 1px solid var(--color-base-button);
  gap: 4px;
  
  input {
    color: var(--color-base-label);
    background: transparent;
    border: 0;
    outline: 0;
  }

  span {
    font-style: italic;
    color: var(--color-base-label);
  }
}